.consert-videos {

  .container {
    padding-right: 15px;
    padding-left: 15px;

    @include respond-to('small') {
      max-width: 600px;
      padding-top: 30px;
      padding-bottom: 50px;
      margin: 0 auto;
    }

    @include respond-to('medium') {
      max-width: 800px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    @include respond-to('large') {
      max-width: 1000px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include respond-to('huge') {
      max-width: 1200px;
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }

  .consert {
    box-sizing: border-box;

    @include respond-to('small') {
      padding: 0;
      max-width: 770px;
    }

    @include respond-to('medium') {
      padding: 0;
      flex-basis: 66%;
    }

    @include respond-to('large') {
      padding: 0;
      flex-basis: 66%;
    }

    @include respond-to('huge') {
      padding: 0;
      max-width: 770px;
    }

    .consert-slider {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .consert-item {
      width: 70%;
      margin: 0 auto;

      @include respond-to('small') {
        margin: 0;
        width: auto;
        display: flex;
        align-items: flex-start;
      }

      @include respond-to('medium') {
        margin: 0;
      }

      @include respond-to('large') {
        width: auto;
        margin: 0;
        display: flex;
        align-items: flex-start;
      }

      @include respond-to('huge') {
        width: auto;
        margin: 0;
        display: flex;
        align-items: flex-start;
      }
    }

    .consert-img {
      position: relative;
      margin-bottom: 20px;

      @include respond-to('small') {
        margin-bottom: 0;
        display: inline-block;
      }
    }

    img {
      width: 100%;
    }

    .consert-date {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .consert-day {
      margin: 0;
    }

    .consert-month {
      margin: 0;
    }

    .consert-content {
      text-align: left;

      @include respond-to('small') {
        display: block;
        margin-top: 25px;
        margin-left: 70px;
      }

      @include respond-to('medium') {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
      }

      @include respond-to('large') {
        display: inline-block;
        margin-top: 20px;
        margin-left: 50px;
      }

      @include respond-to('huge') {
       display: inline-block;
        margin-top: 25px;
        margin-left: 70px;
      }
    }

    .consert-title {
      margin: 0;
      margin-bottom: 20px;

      @include respond-to('small') {
        margin-bottom: 30px;
      }
    }

    .consert-info {
      td {
        vertical-align: top;
      }

      .consert-location {
        padding-left: 20px;
      }
    }

    .consert-purchase {
      text-align: center;

      @include respond-to('small') {
        text-align: left;
      }
    }

    .btn-consert {
      background: $color-bg;
      color: $color-primary;
      margin-top: 20px;

      @include respond-to('small') {
        text-align: left;
      }

      @include respond-to('medium') {
        margin-bottom: 20px;
      }
    }

    .consert-total {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      height: 5px;
      background-color: $color-bg-secondary;

      @include respond-to('small') {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }

    .consert-drag {
      width: 30%;
      height: 5px;
      background-color: $color-bg;
    }
  }

  .videos {
    box-sizing: border-box;
    padding: 30px 0;
    position: relative;

    @include respond-to('small') {
      margin: 0 auto;
      margin-top: 50px;
      padding: 0;
    }

    @include respond-to('medium') {
      margin: 0 auto;
    }

    @include respond-to('huge') {
      margin: 0;
    }

    .controls {
      position: absolute;
      top: 70px;
      right: 0;

      @include respond-to('small') {
        top: 40px;
      }

      @include respond-to('medium') {
        top: 30px;
      }

      @include respond-to('large') {
        top: 50px;
      }

      @include respond-to('huge') {
        top: 70px;
      }
    }

    .videos-content {
      margin: 0 auto;
      position: relative;

      @include respond-to('small') {
        width: 100%;
      }

      img {
        width: 100%;
      }

      .btn-videos {
        box-sizing: border-box;
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 0;
        padding-top: 10px;
        text-align: center;
        background: $color-bg;
        color: $color-primary;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to('small') {
          width: 70px;
          height: 70px;
          padding-top: 12px;
        }

        @include respond-to('medium') {
          width: 60px;
          height: 60px;
          padding-top: 10px;
        }
      }

      .btn-videos:hover {
        opacity: 0.7;
      }
    }
  }
}