.download {

  .container {
    margin: 0;
    padding: 60px 30px;
    text-align: center;
    box-sizing: border-box;

    background-image: url("../img/bg-download-min.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include respond-to('medium') {
      max-width: 800px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 70px 50px 90px;
    }

    @include respond-to('large') {
      max-width: 1000px;
      padding: 70px 50px 100px;
    }

    @include respond-to('huge') {
      max-width: 1170px;
      padding: 70px 50px 120px;
    }
  }

  .download-content {
    margin: 0 auto;

    @include respond-to('huge') {
      padding: 0;
      max-width: 730px;
      box-sizing: border-box;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;

    @include respond-to('huge') {
     margin-bottom: 10px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 40px;

    @include respond-to('huge') {
      margin-bottom: 35px;
    }
  }

  a {
    display: block;
    width: 162px;
    height: 50px;

    @include respond-to('medium') {
     display: inline-block;
    }

  }

  .download-app-store {
    background:  url("../img/app-store.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;

    @include respond-to('medium') {
      margin-bottom: 0;
    }
  }

  .download-google-play {
    background:  url("../img/google-play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @include respond-to('medium') {
      margin-left: 5px;
    }
  }
}