.founder {
  height: 35vh;
  margin: 0;


  @include respond-to('huge') {
    height: auto;
  }

  .container {
    background: $color-secondary;
    margin: 0;
    padding: 30px 50px;
    box-sizing: border-box;
    background-image: url("../img/bg-our-founder-min.png");
    background-repeat: no-repeat;
    background-position: 200px 0;
    background-size: contain;
    position: relative;

    @include respond-to('huge') {
      padding: 80px 0 70px 100px;
      max-width: 1200px;
      margin: 0 auto;
      background-position: top right;
    }
  }

  h2 {
    width: 60%;
    margin: 0;
    margin-top: 70px;
    line-height: 50px;

    @include respond-to('huge') {
     max-width: 560px;
      margin-top: 0;
    }
  }

  p {
    width: 50%;
    margin: 0;
    margin-top: 30px;
    line-height: 40px;

    @include respond-to('huge') {
      max-width: 560px;
      margin-top: 20px;
      line-height: 30px;
    }

  }

  .btn-founder {
    margin-top: 70px;

    @include respond-to('huge') {
      margin-top: 40px;
    }
  }

  .btn-founder:hover {
    opacity: 0.9;
  }
}

