.founder {
  margin: 0;

  .container {
    margin: 0;
    padding: 30px 50px;
    box-sizing: border-box;
    background-image: url("../img/bg-our-founder-min.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  $color-secondary;
    position: relative;

    @include respond-to('small') {
      padding: 50px 0 40px 70px;
      max-width: 600px;
      margin: 0 auto;
      background-position: top right;
      background-size: contain;
    }

    @include respond-to('medium') {
      padding: 60px 0 50px 80px;
      max-width: 800px;
    }

    @include respond-to('large') {
      padding: 70px 0 60px 90px;
      max-width: 1000px;
    }

    @include respond-to('huge') {
      padding: 80px 0 80px 100px;
      max-width: 1170px;
    }
  }

  h2 {
    margin: 0;
    margin-top: 30px;
    line-height: 30px;

    @include respond-to('small') {
      max-width: 560px;
      margin-top: 0;
      line-height: 28px;
    }

    @include respond-to('medium') {
      max-width: 560px;
      margin-top: 0;
    }
  }

  p {
    margin: 0;
    margin-top: 30px;
    line-height: 25px;

    @include respond-to('small') {
      max-width: 520px;
      margin-top: 15px;
      line-height: 25px;
    }

    @include respond-to('medium') {
      max-width: 540px;
      margin-top: 15px;
      line-height: 25px;
    }

    @include respond-to('large') {
      max-width: 540px;
      margin-top: 15px;
      line-height: 30px;
    }

    @include respond-to('huge') {
      max-width: 560px;
      margin-top: 20px;
    }
  }

  .btn-founder {
    margin-top: 70px;

    @include respond-to('small') {
      margin-top: 30px;
    }

    @include respond-to('huge') {
      margin-top: 45px;
    }

  .btn-founder:hover {
    opacity: 0.7;
  }
}
}

