header {
  min-height: 60vh;
  padding: 160px 50px 60px 50px;
  background: $color-bg;
  position: relative;
  box-sizing: border-box;

  @include respond-to('huge') {
    min-height: auto;
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: 40px;
    right: 40px;

    @include respond-to('huge') {
      position: absolute;
      top: 10px;
      right: 50%;
    }

    img {
      width: 115px;
      height: auto;
    }
  }

  .logo:hover {
    opacity: 0.7;
  }

  .menu {
    li {
      margin-bottom: 40px;

      @include respond-to('huge') {
       display: inline;
        margin-right: 40px;
      }

      li:last-child {
        @include respond-to('huge') {
          margin-right: 0;
        }
      }
    }

    li:hover {
      opacity: 0.7;
    }
  }

  .social {
    line-height: 30px;
    margin-top: 150px;
    text-align: center;

    @include respond-to('huge') {
      margin-top: 0;
    }

    .social-list {
      list-style: none;
      margin: 0;
      padding: 0;

      @include respond-to('huge') {
        display: inline-block;
      }
    }

    .social-item {
      display: inline-block;
      margin-right: 40px;
    }

    .social-item:last-child {
      margin-right: 0;


      @include respond-to('huge') {
        margin-right: 40px;
      }

    }

    .social-link {
      text-decoration: none;
    }

    .social-link:hover {
      opacity: 0.7;
    }

    .btn-header {
      display: inline-block;
      color: $color-bg;
      margin: 0 auto;
      margin-top: 60px;

      @include respond-to('huge') {
        margin-top: 0;
        line-height: normal;
      }
    }


  }
}