.introducing {
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 50px;
  position: relative;

  @include respond-to('huge') {
   height: auto;
    padding: 0;
  }

    .container {
    @include respond-to('huge') {
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 100px;
      position: relative;
      border-bottom: 1px solid $color-line;
    }
  }

  .controls {
    position: absolute;
    top: 50px;
    right: 180px;

    @include respond-to('huge') {
      top: 160px;
      right: 0;
    }
  }

  .section-title {
    margin: 0;
    margin-bottom: 10px;

    @include respond-to('huge') {
      margin-bottom: 40px;
    }
  }

  .introducing-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include respond-to('huge') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .introducing-item {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    @include respond-to('huge') {
      max-width: 31.5%;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .introducing-item:last-child {
    display: none;

    @include respond-to('huge') {
     display: inline-block;
    }
  }

  .introducing-item-info {
    background: $color-bg;
    min-height: 10%;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    @include respond-to('huge') {
      padding: 15px 15px;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    .social-list {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 30px;

      @include respond-to('huge') {
        margin-top: 20px;
      }
    }

    .social-item {
      display: inline-block;
      margin-right: 40px;
    }

    .social-item:last-child {
      margin-right: 0;
    }

    .social-link {
      text-decoration: none;
    }

    .social-link:hover {
      opacity: 0.7;
    }
  }

  .likeHover {
    min-height: 20%;
  }

  .introducing-item:hover .introducing-item-info {
    min-height: 20%;
  }

  .introducing-item:hover .isHidden{
    display: block;
  }
}
