.lets-rock {
  background: url("../img/bg-home-min.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;


  @include respond-to('medium') {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @include respond-to('large') {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  @include respond-to('huge') {
    padding-top: 175px;
    padding-bottom: 175px;
  }

  .content {
    text-align: center;
  }

  h1 {
    margin: 0;

    .text-spechial {
      display: block;
    }
  }

  .btn-lets-rock {
    display: inline-block;
    background: $color-bg;
    color: $color-primary;
    margin-top: 20px;
  }
}