.videos {
  box-sizing: border-box;
  padding: 30px 50px;

  .controls {
    position: absolute;
    top: 50px;
    right: 180px;
  }

  .section-title {
    margin: 0;
    margin-bottom: 10px;
  }

  .videos-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;

    img {
      width: 100%;
    }

    .btn-videos {
      box-sizing: border-box;
      display: inline-block;
      width: 100px;
      height: 100px;
      padding: 0;
      padding-top: 18px;
      text-align: center;
      background: $color-bg;
      color: $color-primary;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn-videos:hover {
      opacity: 0.9;
    }
  }
}