.meet-our-team {
  padding-top: 110px;

  .container {
    margin: 0 auto;
    display: flex;
  }

  .section-header {
    margin: auto;
    margin-bottom: 110px;
  }

  .grid-photo {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 20%;
      margin: 0;
      position: relative;
    }

    .hover {
      width: 100%;
      height: 100%;
      display: none;
      background: $color-green;
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
    }

    li:hover  .hover {
      display: flex;
    }

    h3 {
      color: #ffffff;
      font-family: Raleway, sans-serif;
      font-size: 36px;
      font-weight: 200;
      line-height: 96px;
      letter-spacing: 0.9px;
      margin: auto;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

  }





}