.container {
  max-width: 1480px;
  margin: 0 auto;
}

.container-half {
  max-width: calc(1475px / 2);
}

.active {
  opacity: 0.7;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.green {
  color: $color-green;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}