.form {

  border: #c8cbcf;
  background: #b1dfbb;
  border-radius: 10px;

  .input-item {
    margin-top: 10px;
    //display: flex;
    //justify-content: space-between;

    input {
      //display: block;
      width: 200px;
      background: #d1ecf1;
      border: none;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .input-textarea {
    margin-top: 10px;

    textarea {
      display: block;
      background: #d1ecf1;
      border: none;
      border-radius: 5px;
      padding: 5px;
      resize: none;
    }
  }
}