header {
  height: 100vh;
  background: url("../images/bg-header-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  .scroll-btn {
    display: inline-block;
    width: 25px;
    height: 43px;
    background: url("../images/scroll-down.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}