body {
  padding: 0;
  margin: 0;
}

.isHidden {
  display: none;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;

  @include respond-to('medium') {
    margin-bottom: 20px;
  }

  @include respond-to('large') {
    margin-bottom: 25px;
  }

  @include respond-to('huge') {
    margin-bottom: 40px;
  }
}