.menu {
  font-family: "Droid Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.65px;


  @include respond-to('huge') {
      font-size: 13px;
  }

  a {
    color: $color-primary;
  }
}

.social-list {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;

  @include respond-to('huge') {
      font-size: 14px;
  }

  @include respond-to('huge') {
    .fab {
      font-size: 24px;
      margin-right: 5px;
    }
  }

  a {
    color: $color-primary;
  }
}

.btn {
  font-family: "Droid Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: $color-bg;

  @include respond-to('huge') {
    font-size: 12px;
  }

}

.lets-rock {
  h1 {
    color: $color-bg;
    font-family: Oswald, sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;

    @include respond-to('huge') {
      font-size: 116px;
    }

    .text-spechial {
      color: $color-secondary;
      font-family: "Great Vibes", sans-serif;
      font-size: 60px;
      font-weight: 400;
      text-transform: none;

      @include respond-to('huge') {
        font-size: 80px;
      }

    }
  }
}

  .section-title {
    color: $color-secondary;
    font-family: Oswald, sans-serif;
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 3.2px;
    text-transform: uppercase;

    @include respond-to('huge') {
      font-size: 32px;
    }

    .special-title {
      display: block;
      color: $color-bg;
      font-family: "Great Vibes", sans-serif;
      font-size: 52px;
      font-weight: 400;
      letter-spacing: 3.2px;
      text-transform: none;

      @include respond-to('huge') {
        font-size: 32px;
      }
    }
  }

  .introducing-item-info {
    h3 {
      color: $color-primary;
      font-family: Oswald, sans-serif;
      font-size: 42px;
      font-weight: 400;

      @include respond-to('huge') {
        font-size: 22px;
      }
    }

    p {
      color: $color-primary;
      font-family: "Droid Sans", sans-serif;
      font-weight: 200;
      font-size: 36px;

      @include respond-to('huge') {
        font-size: 16px;
      }
    }

    .social-list {
      font-size: 58px;

      @include respond-to('huge') {
        font-size: 24px;
      }

      span {
        font-size: 38px;

        @include respond-to('huge') {
          font-size: 14px;
        }
      }
    }
  }

  .controls {
    .control-right {
      color: $color-primary;
      font-size: 60px;

      @include respond-to('huge') {
      font-size: 35px;
        font-weight: 200;
    }
    }

    .control-left {
      color: $color-primary;
      font-size: 60px;

      @include respond-to('huge') {
        font-size: 35px;
      }
    }
  }

  .consert {
    .consert-day {
      color: $color-primary;
      font-family: Oswald, sans-serif;
      font-weight: 700;
      font-size: 80px;

      @include respond-to('huge') {
        font-size: 45px;
      }
    }

    .consert-month {
      color: $color-primary;
      font-family: Oswald, sans-serif;
      font-size: 55px;
      font-weight: 700;
      letter-spacing: 3.2px;

      @include respond-to('huge') {
        font-size: 32px;
      }
    }

    .consert-title {
      color: $color-secondary;
      font-family: Oswald, sans-serif;
      font-size: 45px;
      font-weight: 500;

      @include respond-to('huge') {
        font-size: 22px;
      }
    }

    p {
      color: $color-secondary;
      font-family: "Droid Sans", sans-serif;
      font-size: 35px;
      font-weight: 400;

      @include respond-to('huge') {
        font-size: 16px;
      }
    }
  }

  .founder {
    h2 {
      color: $color-primary;
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 500;
      text-transform: uppercase;

      @include respond-to('huge') {
        font-size: 32px;
      }
    }

    p {
      color: $color-primary;
      font-family: "Droid Sans", sans-serif;
      font-size: 30px;
      font-weight: 300;

      @include respond-to('huge') {
        font-size: 22px;
      }
    }

    .spacial-text{
      color: $color-primary;
      font-family: "Great Vibes", sans-serif;
      font-size: 35px;
      font-weight: 400;

      @include respond-to('huge') {
        font-size: 50px;
      }
    }
  }

  .songs {
    .songs-list {
      p {
        color: $color-secondary;
        font-family: "Droid Sans", sans-serif;
        font-size: 36px;
        font-weight: 400;
      }

      .songs-item:before {
        color: $color-secondary;
        font-family: "Droid Sans", sans-serif;
        font-size: 36px;
        font-weight: 400;
      }
    }
  }

  .download {
    h2 {
      color: $color-primary;
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 500;

      @include respond-to('huge') {
        font-size: 32px;
      }
    }

    p {
      color: $color-primary;
      font-family: "Droid Sans", sans-serif;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 1.1px;

      @include respond-to('huge') {
        font-size: 22px;
      }
    }
  }

  footer {
    input {
      color: $color-secondary;
      font-family: "Droid Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 3px;

      @include respond-to('huge') {
        font-size: 16px;
      }
    }

    input::placeholder {
      color: $color-placeholder;
      font-family: "Droid Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      letter-spacing: 3px;

      @include respond-to('huge') {
        font-size: 16px;
      }
    }

    .menu {
      display: inline;
      font-family: "Droid Sans", sans-serif;
      font-size: 26px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.65px;

      @include respond-to('huge') {
        font-size: 13px;
      }

      a {
        color: $color-secondary;
      }
    }

    h2 {
      color: $color-secondary;
      font-family: "Droid Sans", sans-serif;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.65px;

      @include respond-to('huge') {
        font-size: 13px;
      }
    }

    .spacial-text {
      color: $color-bg;
      font-family: "Great Vibes", sans-serif;
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.4px;

      @include respond-to('huge') {
        font-size: 28px;
      }
    }
  }















