/****************GENERAL***************/

.hidden {
  display: none;
}

.btn, .btn:link, .btn:active, .btn:hover, .btn:visited {
  border-radius: 25px;
  background-color: #e8bf5d;
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 46px;
  cursor: pointer;
}


/***************HEADER***************/

header {
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}

.spacial-point {
  color: #e8bf5d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 5px solid transparent;
}

.menu-link:hover {
  border-bottom: 5px solid #e8bf5d;
}

/****************CONTACT************/

.person {
  min-height: 840px;
  background: url("../img/photos/photo-person.png") no-repeat center;
  background-size: cover;
}

.bg-shadow {
  min-height: 840px;
  background: url("../img/photos/innershadow.png") no-repeat center;
  background-size: cover;
}

.person-info {
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 600px;
}

.person-title {
  border-left: 2px solid #e8bf5d;
  padding-left: 16px;
}

.person-title-name {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.person-title-prof {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  margin: 0;
}

/*****************PRACTISAREA*************/

.practis-area {
  background: #111111;
  padding-top: 65px;
  padding-bottom: 90px;
}

.section-header {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  background: #111111;
  max-width: 790px;
  position: relative;
  padding: 0;
}

.header-section-counter {
  color: #1d1d1d;
  font-family: "Open Sans", sans-serif;
  font-size: 195px;
  font-weight: 400;
  line-height: 1;
}

.section-header-info {
  border-left: 2px solid #e8bf5d;
  padding-left: 16px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}

.section-header-title {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 31px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.section-header-parag {
  color: #b9b9b9;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.practis-area-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: 30px;
}

.practis-area-item {
  max-width: 450px;
  padding-left: 85px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.practis-area-title {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.practis-area-parag {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.bg-privat {
  background: url("../img/icons/privat-client-service.png") no-repeat;
}

.bg-labour {
  background: url("../img/icons/labour-and-employment.png") no-repeat;
}

.bg-cyber {
  background: url("../img/icons/cyber-sequre.png") no-repeat;
}

.bg-real {
  background: url("../img/icons/real-estate.png") no-repeat;
}




