/****************GENERAL***************/

.hidden {
  display: none;
}

.btn, .btn:link, .btn:active, .btn:hover, .btn:visited {
  border-radius: 25px;
  background-color: #e8bf5d;
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 46px;
  cursor: pointer;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/*****************HESDERSECTION**************/

.section-header {
  max-width: 790px;
  position: relative;
  padding: 0;
}

.header-section-counter {
  font-family: "Open Sans", sans-serif;
  font-size: 195px;
  font-weight: 400;
  line-height: 1;
}

.section-header-info {
  border-left: 2px solid #e8bf5d;
  padding-left: 16px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}

.section-header-title {
  /*color: #ffffff;*/
  font-family: "Playfair Display", sans-serif;
  font-size: 31px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.section-header-parag {
  /*color: #b9b9b9;*/
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  line-height: 31px;
}

.bg-dark {
  background: #111111;
  color: #1d1d1d;
}

.bg-light {
  background: #ffffff;
  color: #f3f3f3;
}

.title-dark {
  color: #111111;
}

.parag-dark {
  color: #666666;
}

.title-light {
  color: #ffffff;
}

.parag-light {
  color: #b9b9b9;
}


/***************HEADER***************/

header {
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}

.spacial-point {
  color: #e8bf5d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 5px solid transparent;
}

.menu-link:hover {
  border-bottom: 5px solid #e8bf5d;
}

/****************CONTACT************/

.person {
  min-height: 840px;
  background: url("../img/photos/photo-person.png") no-repeat center;
  background-size: cover;
}

.bg-shadow {
  min-height: 840px;
  background: url("../img/photos/innershadow.png") no-repeat center;
  background-size: cover;
}

.person-info {
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 600px;
}

.person-title {
  border-left: 2px solid #e8bf5d;
  padding-left: 16px;
}

.person-title-name {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.person-title-prof {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  margin: 0;
}

/*****************ABOUTUS*******************/

.about-us {
  padding-top: 65px;
  padding-bottom: 90px;
}

.about-us-content {
  max-width: 1090px;
  display: flex;
  justify-content: space-between;
}

.about-us-content h4 {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

.about-us-history {
  max-width: 560px;
}

.about-us-expertise {
  max-width: 486px;
}

.about-us-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us-history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.about-us-history-title {;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.about-us-history-parag {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 430px;
  padding-left: 45px;
  line-height: 21px;
}

.about-us-expertise-parag {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
}

/*****************PRACTISAREA*************/

.practis-area {
  background: #111111;
  padding-top: 65px;
  padding-bottom: 90px;
}

.practis-area-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: 30px;
}

.practis-area-item {
  max-width: 450px;
  padding-left: 85px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.practis-area-title {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.practis-area-parag {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.bg-privat {
  background: url("../img/icons/privat-client-service.png") no-repeat;
}

.bg-labour {
  background: url("../img/icons/labour-and-employment.png") no-repeat;
}

.bg-cyber {
  background: url("../img/icons/cyber-sequre.png") no-repeat;
}

.bg-real {
  background: url("../img/icons/real-estate.png") no-repeat;
}

/**************MEET*****************/

.meet {
  padding-top: 65px;
  padding-bottom: 90px;
}

.meet-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.meet-list figure {
  margin: 0;
}

.meet-photo-title {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 3px;
}

.meet-photo-parag {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}


/*********OUR_CLIENTS************/

.our-clients {
  background: #111111;
  padding-top: 65px;
  padding-bottom: 90px;
}

.our-clients-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
}

.our-clients-photo-bg {
  background-color: #e8bf5d;
}

.our-clients-photo {
  position: relative;
  top: -20px;
  left: -20px;
}

.our-clients-blockqoute {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  position: relative;
  margin-left: 75px;
}


.our-clients blockquote {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 26px;
}

.our-clients blockquote:before {
  content: url("../img/photos/photo-clients-quote.png");
  display: block;
  position: absolute;
  left: -40px;
}

.our-clients-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  margin: 0;
}

.our-clients-parag {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.our-clients-controls-list {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  text-align: center;
}

.our-clients-control-item {
  display: inline-block;
}

.our-clients-controls-active {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/our-clients-controls-active.png");
}

.our-clients-controls {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/icons/our-clients-controls.png");
}

/***************RECENT****************/

.recent {
  padding-top: 65px;
  padding-bottom: 90px;
}

.recent-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.recent-item {
  display: inline-block;
  width: 32%;
  padding-bottom: 22px;
  border-bottom: 3px solid #e8bf5d;
}

.recent-list article {
  display: inline-block;
}

.recent-article-title {
  margin: 0;
  display: inline-block;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.84px;
  line-height: 31px;
  margin-top: 24px;
}

.recent-article-author {
  display: inline-block;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  line-height: 24px;
  margin: 0;
}

.recent-article-date {
  display: inline-block;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.64px;
  line-height: 24px;
  margin: 0;
}

.recent-article-parag {
  display: inline-block;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  margin: 0;
  margin-top: 30px;
}

.recent-comment, .recent-share {
  margin: 0;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 30px;
}

/*****************FREQUENTLY**************/

.frequently {
  background: #111111;
  padding-top: 65px;
  padding-bottom: 90px;
}

.frequently a {
  cursor: pointer;
}

.frequently-content {
  display: flex;
  justify-content: space-between;
}

.frequently-list {
  padding: 0;
}

.frequently-item {
  width: 566px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid #e8bf5d;
  display: flex;
  justify-content: space-between;
}

.frequently-title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  margin: 0;
}

.frequently-sign {
  margin: 0;
  color: #ffffff;
  font-family: "Font Awesome", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
}

.frequently-active {
  color: #e8bf5d;
}

.frequently-text {
  box-sizing: border-box;
  width: 500px;
  background: #e8bf5d;
  padding: 42px 48px;
}

.frequently-parag {
  margin: 0;
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
}

/******************CONTACT****************/

.contact {
  padding-top: 65px;
  padding-bottom: 90px;
}

.contact-content {
  padding: 52px 36px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 928px;
  box-sizing: border-box;
  box-shadow: 0 12px 40px rgba(104, 86, 42, 0.1);
  border-radius: 3px;
  background-color: #ffffff;
}

.contact-form {

}

.contact input, .contact textarea {
  border: none;
  width: 350px;
  color: #111111;
  border-bottom: 1px solid #b9b9b9;
  padding-top: 35px;
  padding-bottom: 3px;
}

.contact textarea {
 resize: none;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: #b9b9b9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 31px;
}

.contact .contact-submit {
  display: inline-block;
  width: auto;
  padding: 17px 32px;
  margin-top: 30px;
}

.contact-map-bg {
  width: 363px;
  height: 363px;
  margin-right: 20px;
  position: relative;
  background:  #e8bf5d;
}

.contact-map-bg iframe {
  width: 363px;
  height: 363px;
  position: absolute;
  top: -20px;
  right: -20px;
}










