/****************GENERAL***************/

.hidden {
  display: none;
}

.btn, .btn:link, .btn:active, .btn:hover, .btn:visited {
  border-radius: 25px;
  background-color: #e8bf5d;
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 19px 46px;
  cursor: pointer;
}


/***************HEADER***************/

header {
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link {
  color: #111111;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}

.spacial-point {
  color: #e8bf5d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #111111;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 5px solid transparent;
}

.menu-link:hover {
  border-bottom: 5px solid #e8bf5d;
}

/****************CONTACT************/

.person {
  min-height: 840px;
  background: url("../img/photos/photo-person.png") no-repeat center;
  background-size: cover;
}

.bg-shadow {
  min-height: 840px;
  background: url("../img/photos/innershadow.png") no-repeat center;
  background-size: cover;
}

.person-info {
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 600px;
}

.person-title {
  border-left: 2px solid #e8bf5d;
  padding-left: 13px;
}

.person-title-name {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.person-title-prof {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  margin: 0;
}

.






