.arrow-right {
  display: block;
  width: 27px;
  height: 53px;
  background: url("../img/Right_Arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
