ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    display: inline-block;
    margin-left: 60px;
  }

  &:first-child {
    margin-left: 0;
  }

  a, a:link, a:visited, a:active {
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
  }

}





