
.btn-class, .btn-class:visited, .btn-class:active {
  display: inline-block;
  padding: 14px 40px;
  line-height: 1;
  border-radius: 40px;
  background: url("../img/bg-btn.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;

  @include respond-to('medium') {
    padding: 18px 53px;
    line-height: 1;
    border-radius: 50px;
  }
}

.btn-class:hover {
  opacity: 0.7;
  text-decoration: none;
  //color: $color-secondary;
  color: red;
}


