.controls {

  .control-right{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $color-bg;
    text-align: center;

    @include respond-to('medium') {
      width: 35px;
      height: 35px;
    }
  }

  .control-left{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $color-bg;
    text-align: center;
    margin-right: 5px;

    @include respond-to('medium') {
      width: 35px;
      height: 35px;
    }
  }

  a {
    cursor: pointer;
  }

  a:hover {
    opacity: 0.7;
  }

}