.controls {

  .control-right{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: $color-bg;
    text-align: center;
  }

  .control-left{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: $color-bg;
    text-align: center;
    margin-right: 15px;
  }

}